LGBConnect/Service References/ServiceFonctionsAdmin/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FonctionsAdmin" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFonctionsAdmin_desactiverGestionnaireDesTaches_InputMessage">
    <wsdl:part name="parameters" element="tns:desactiverGestionnaireDesTaches" />
  </wsdl:message>
  <wsdl:message name="IFonctionsAdmin_desactiverGestionnaireDesTaches_OutputMessage">
    <wsdl:part name="parameters" element="tns:desactiverGestionnaireDesTachesResponse" />
  </wsdl:message>
  <wsdl:message name="IFonctionsAdmin_desactiverChangementMotDePasse_InputMessage">
    <wsdl:part name="parameters" element="tns:desactiverChangementMotDePasse" />
  </wsdl:message>
  <wsdl:message name="IFonctionsAdmin_desactiverChangementMotDePasse_OutputMessage">
    <wsdl:part name="parameters" element="tns:desactiverChangementMotDePasseResponse" />
  </wsdl:message>
  <wsdl:message name="IFonctionsAdmin_lireProfiles_InputMessage">
    <wsdl:part name="parameters" element="tns:lireProfiles" />
  </wsdl:message>
  <wsdl:message name="IFonctionsAdmin_lireProfiles_OutputMessage">
    <wsdl:part name="parameters" element="tns:lireProfilesResponse" />
  </wsdl:message>
  <wsdl:message name="IFonctionsAdmin_ecrireConfiguration_InputMessage">
    <wsdl:part name="parameters" element="tns:ecrireConfiguration" />
  </wsdl:message>
  <wsdl:message name="IFonctionsAdmin_ecrireConfiguration_OutputMessage">
    <wsdl:part name="parameters" element="tns:ecrireConfigurationResponse" />
  </wsdl:message>
  <wsdl:message name="IFonctionsAdmin_lireConfiguration_InputMessage">
    <wsdl:part name="parameters" element="tns:lireConfiguration" />
  </wsdl:message>
  <wsdl:message name="IFonctionsAdmin_lireConfiguration_OutputMessage">
    <wsdl:part name="parameters" element="tns:lireConfigurationResponse" />
  </wsdl:message>
  <wsdl:portType name="IFonctionsAdmin">
    <wsdl:operation name="desactiverGestionnaireDesTaches">
      <wsdl:input wsaw:Action="http://tempuri.org/IFonctionsAdmin/desactiverGestionnaireDesTaches" message="tns:IFonctionsAdmin_desactiverGestionnaireDesTaches_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFonctionsAdmin/desactiverGestionnaireDesTachesResponse" message="tns:IFonctionsAdmin_desactiverGestionnaireDesTaches_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="desactiverChangementMotDePasse">
      <wsdl:input wsaw:Action="http://tempuri.org/IFonctionsAdmin/desactiverChangementMotDePasse" message="tns:IFonctionsAdmin_desactiverChangementMotDePasse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFonctionsAdmin/desactiverChangementMotDePasseResponse" message="tns:IFonctionsAdmin_desactiverChangementMotDePasse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="lireProfiles">
      <wsdl:input wsaw:Action="http://tempuri.org/IFonctionsAdmin/lireProfiles" message="tns:IFonctionsAdmin_lireProfiles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFonctionsAdmin/lireProfilesResponse" message="tns:IFonctionsAdmin_lireProfiles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ecrireConfiguration">
      <wsdl:input wsaw:Action="http://tempuri.org/IFonctionsAdmin/ecrireConfiguration" message="tns:IFonctionsAdmin_ecrireConfiguration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFonctionsAdmin/ecrireConfigurationResponse" message="tns:IFonctionsAdmin_ecrireConfiguration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="lireConfiguration">
      <wsdl:input wsaw:Action="http://tempuri.org/IFonctionsAdmin/lireConfiguration" message="tns:IFonctionsAdmin_lireConfiguration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFonctionsAdmin/lireConfigurationResponse" message="tns:IFonctionsAdmin_lireConfiguration_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFonctionsAdmin" type="tns:IFonctionsAdmin">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="desactiverGestionnaireDesTaches">
      <soap:operation soapAction="http://tempuri.org/IFonctionsAdmin/desactiverGestionnaireDesTaches" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="desactiverChangementMotDePasse">
      <soap:operation soapAction="http://tempuri.org/IFonctionsAdmin/desactiverChangementMotDePasse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="lireProfiles">
      <soap:operation soapAction="http://tempuri.org/IFonctionsAdmin/lireProfiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ecrireConfiguration">
      <soap:operation soapAction="http://tempuri.org/IFonctionsAdmin/ecrireConfiguration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="lireConfiguration">
      <soap:operation soapAction="http://tempuri.org/IFonctionsAdmin/lireConfiguration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FonctionsAdmin">
    <wsdl:port name="BasicHttpBinding_IFonctionsAdmin" binding="tns:BasicHttpBinding_IFonctionsAdmin">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/LGBServ/FonctionsAdmin/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>